<!--<h1>Welcome <%= @user %>!</h1>-->
<p>Current local time: <%= @time %></p>

<p>
	<%= link_to "Update", root_path, 
	:type => "button", 
	:class => "btn btn-info" %>
</p>
<div>
	<% @locations.each do |location| %>
		<pre>
			<%= JSON.pretty_generate location.as_json(except: :_id) %>
		</pre>
	<% end -%>
</div>

